*{
    margin: 0rem;
    padding: 0rem;
   }

   @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

h1{
    width: 100%;
}

body{
    align-items: center;
   }

.rtitle{
    text-align: center;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 5rem;
    background-color: lavender;
    font-family: 'Poppins', sans-serif ;
}

.rsubheading{
    text-align: start;
    padding: 2rem;
    font-weight:lighter;
    font-size: 2rem;
    margin: 4rem 0rem 2rem 7rem;
   }

.estate_part_row{
   display: flex;
   flex-direction: column;
   justify-content: end;
   align-items: flex-end;
   flex-wrap: wrap;
   margin: 2rem;
   gap: 2rem;
}
.estate_bottom{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}
.estate_bottom1{
    background: white;
    height: 12rem;
    width: 10rem;
    display: flex;
    align-content: flex-start;
    margin: 0rem 2rem 0rem 2rem;
    gap: 3rem;
    border: 3px solid grey;
    border-radius: 3rem;
    align-items: center;
    margin: 0rem 0.5rem 0rem 0.5;
    transition: transform 0.3s ease-in-out;
}
.estate_bottom1:hover {
    background-color: black;
    border-color: black;
    transform: scale(1.2);
}

.estate_bottom1:hover .estate_header {
    color: white;
    transform: scale(1.1);
}

.estate_bottom1 h2{    
    display: flex;
    font-size: 1.3rem;
    align-items:center;
    text-align: center;
    text-decoration: none;
    color: black;
    transform-origin: bottom;
    padding: 0.5rem;
    margin: 0rem 0.5rem ;
}

.estate_bottom1 a{
    text-decoration: none;
} 

.estate_bottom1 img{
    height: 4rem;
    width: 6rem;
    display: flexbox;
    justify-content:flex-start;
    flex-wrap: wrap;
    padding: 0.5rem 2rem 0rem 2rem;
    margin: 0.7rem 0rem 0rem 0rem;
    transition: transform 0.3s ease-in-out;
}

#buy, #sell{
    padding: 0rem 2rem 0rem 1.5rem;
    margin: 0.5rem 0rem 0.5rem 0rem;
    height: 4rem;
    width: 6.5rem;
}

@media screen and (max-width: 896px) {
    h1{
        width: 60%;
    }
    .rtitle{
        padding: 2rem 15rem;
        font-size: 4.3rem;
        width: 100%;
        background-color: rgb(139, 131, 131);
    }

    .rsubheading{
        text-align: start;
        padding: 3rem;
        font-weight:lighter;
        font-size: 2.5rem;
        margin: 8rem 2.5rem;
       }
    .estate_part{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .estate_bottom{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .estate_part_row{
        flex-wrap: wrap;
        margin: 2rem;
        padding: 2rem;
        gap: 2rem;
     }
    .estate_bottom1{
    height: 20rem;
    width: 17rem;
    margin: 3rem 2rem;
    gap: 3rem;
    border: 3px solid grey;
    border-radius: 3rem;
    align-items: center;
}

.estate_bottom1 h2{    
    display: flex;
    font-size: 2.3rem;
    align-items:center;
    text-align: center;
    text-decoration: none;
    color: black;
    transform-origin: bottom;
    padding: 0.5rem;
    margin: 0rem 0.5rem ;
}

.estate_bottom1 img{
    height: 7rem;
    width: 9rem;
    padding: 0rem 4.4rem 0rem 4.4rem;
    margin: 0.5rem 0rem;
}

#buy, #sell{
    padding: 0rem 3.2rem 0rem 3.4rem;
    margin: 0.5rem 0rem;
    height: 7rem;
    width: 11rem;
}
}